#gag {^\S+ smashes his foot into a pile of rocks.  It suddenly explodes, scattering bits and pieces of debris in every direction. spam}
#gag {^\S+ begins to fiddle with a plain iron trunk. spam} {spam}
#gag {^\S+ smashes his foot into a pile of rocks.  It suddenly explodes, scattering bits and pieces of debris in every direction\.$ spam}
